
.wcs_datatable_staff{
    height: 600px;
    padding: 20px;

    .wcs_cellWithImg{
        display: flex;
        align-items: center;

        .wcs_cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
    }
    .cellWithStatus.id-1{
        background-color: rgba(0,128,0,0.05);
        color: green;
        width: 48px;
        text-align: center;
    }
    .cellWithStatus.id-0{
        background-color: rgba(0,128,0,0.05);
        color: crimson; 
    }

    .wcs_cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .wcs_viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0,0,139, 0.596);
            cursor: pointer;
        }
        .wcs_deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(172, 3, 146);
            border: 1px dotted rgba(125, 2, 55, 0.596);
            cursor: pointer;
        }
    }
}
// Fix checkbox and outline 
input.PrivateSwitchBase-input.css-1m9pwf3{
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
}
.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
}