.wcs_chat_cls{
    .wcs_Chats{
        // height: calc(100vh - 70px);
        display: flex;
    
        .chatMenu.chatMenuFree{
            position:relative;

            h4.pro_badge {
                position: absolute;
                top: 40px;
                right: 0px;
                // background: red;
                background: #8504a7;
                color: white;
                // border: 1px dotted;
                padding: 3px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 1px;
                animation-name:glow;
                animation-duration:1s;
                animation-iteration-count:infinite;
                animation-direction:alternate;
        
                @keyframes glow{
                    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
                    to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
                  }
            }
        }
        .chatMenu{
            flex: 3.5;
            .chatMenuWrapper{
                padding: 10px;
                height: 100%;
                margin-left: 15px;

                .ChatMenuInput{
                    width: 90%;
                    padding: 10px 0px;
                    border: none;
                    border-bottom: 0.5px solid lightgray;
                    background: transparent;
                    
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
    
                    &::placeholder{
                        font-size: 12px;
                        margin-left: 15px;
                    }
                }
                .chatBoxUser{
                    height: 620px;
                    overflow-y:scroll ;

                    &::-webkit-scrollbar {
                        width: 0px;
                      }
                    @media only screen and (max-width: 1366px){
                    height: 380px;
                    }
                }
            }
            .chatfreeWrapper{
                opacity: 0.4;
                background-color: rgb(250,250,250,0.2);  
            }
           
        }
        
        .chatBox{
            flex: 5.5;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            padding: 10px;
            position: relative;

            h4.pro_badge {
                position: absolute;
                top: 40px;
                right: 0px;
                // background: red;
                background: #8504a7;
                color: white;
                // border: 1px dotted;
                padding: 3px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 1px;
                animation-name:glow;
                animation-duration:1s;
                animation-iteration-count:infinite;
                animation-direction:alternate;
        
                @keyframes glow{
                    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
                    to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
                  }
            }

            .chatBoxWrapper.chatfreeWrapper{
                opacity: 0.4;
                background-color: rgb(250,250,250,0.2);  
            }
            

            .chatBoxWrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                .chatBoxTop{
                    height: 520px;
                    // height: 300px;
                    overflow-y:scroll ;
                    padding-right: 10px;
                    &::-webkit-scrollbar {
                        width: 0px;
                      }
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px grey; 
                        border-radius: 10px;
                      }
                    &::-webkit-scrollbar-thumb {
                        background: teal;
                        border-radius: 10px;
                      }
                    &::-webkit-scrollbar-thumb:hover {
                        background: teal;
                      }
                      @media only screen and (max-width: 1366px){
                        height: 220px;
                      }
                      
                }
                

                .chatBoxBottom{
                    margin-top: 20px;
                    // display: flex; removed as i set it below on the editor
                    align-items: center;
                    justify-content: space-between;
                   

                    .chatMessageImput{
                        width: 95%;
                        // height: 80%;
                        // height: 140px;
                        height: 85px;
                        padding: 10px;
                        border: none;

                        .ql-toolbar.ql-snow {
                            border: none;
                            // border-bottom: 1px solid #ccc;
                            border-top: 1px solid #ccc;
                            border-left: 1px solid #ccc;
                            border-right: 1px solid #ccc;
                        }
                        .ql-editor img {
                            max-width: 20%;
                        }
                    }
                    .chatSubmitBtn{
                        width: 100px;
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        //add below code as flex removed and postion btn below the editor
                        margin-top: 45px;
                        margin-left: 10px;
                    }
                }
                .noConversation{
                    position: absolute;
                    top: 150px;
                    left: 20%;
                    font-size: 25px;
                    color: gray;

                    @media only screen and (max-width: 1366px){
                        left: 12%;
                        font-size: 20px;
                      }

                }
            }
        }
        .chatOnline{
            flex: 3;
            position: relative;

            /* h4.pro_badge {
                position: absolute;
                top: 40px;
                right: 0px;
                // background: red;
                background: #8504a7;
                color: white;
                // border: 1px dotted;
                padding: 3px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 1px;
                animation-name:glow;
                animation-duration:1s;
                animation-iteration-count:infinite;
                animation-direction:alternate;
        
                @keyframes glow{
                    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
                    to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
                  }
            } */

            .chatOnlineWrapper.chatfreeWrapper{
                opacity: 0.4;
                background-color: rgb(250,250,250,0.2);  
            }
            .chatOnlineWrapper{
                padding: 10px;
                height: 100%;
              
               
                .pluginName{
                    font-size: 25px;
                    margin-top: 28vh;
                    margin-left: 9px;
                    line-height: 41px;
                    color: white;
                    font-family: "Merienda", cursive;
                    animation-name: glow;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;

                    @keyframes glow{
                        from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
                        to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
                      }
                      @media only screen and (max-width: 1366px){
                        font-size:15px;
                      }
                }
            }
        }
    }
}
li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.chatfreeWrapper.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    opacity: 0.4;
    background-color: rgb(250,250,250,0.2);  
}