.wcs_add_ticket{
    display: flex;
    padding: 20px;
    gap: 20px;

    // start 
    .wcs_tickets_container{
        flex:6;

        .wcs_top, .wcs_bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            margin: 20px;
            padding: 10px;
            // to make side by side
            display: flex;

            h1{
                color: lightgray;
                font-size: 20px;
            }
            //given size
            .wcs_left{
             flex: 3; 
             text-align: center; 
             .wcs_editor{
                margin-right: 10px;

                .editor_filed{
                    height: 400px;

                    .ql-snow .ql-editor img {
                        max-width: 20%;
                    }

                }
             }
             
            //  image 
            
                .formInput {
                    .title_name, .title_email, .title_num{
                        color: #737373;
                    }
                }

            }
            .wcs_right{
             flex: 3; 
             
             //form field
                form{
                    display: flex;
                    flex-wrap: wrap; // to set all inside the wrap with the given width screen
                    gap: 20px;
                    // justify-content: space-around;

                    .wcs_inp_images{
                        position: relative;
                        .subimage {
                            position: absolute;
                            top: -10px;
                            right: 26px;
                        }
                    }

                    //file style and label design
                    label{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .wcs_icon{
                            cursor: pointer;
                        }
                    }
                }
                .formInput{
                    width: 40%;
                    input{
                        width: 100%;
                        // design 
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid gray;
                        background-color: #F0F0F1;

                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }

                    }
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                //@at-root btn
                button{
                    width: 160px;
                    padding: 10px;
                    border: none;
                    // background-color: teal;
                    // color: white;
                    font-weight: bold;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
        #wcs_bottom{
            height: 82%;
        }
    }
}
// .wcs_add_ticket .wcs_tickets_container .wcs_top .wcs_right .formInput input, .wcs_add_ticket .wcs_tickets_container .wcs_bottom .wcs_right .formInput input{
//     background-color: #FFF;
// }