.wcs_ticket_view{
    display: flex;
    padding: 20px;
    gap: 20px;

    .wcs_ticket_container{
        flex: 5;
        padding: 10px;
        
        // scroll description 
        .wcs_issues_container {
            overflow-y: scroll;
            max-height: 500px;
            &::-webkit-scrollbar {
                width: 5px;
              }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey; 
                border-radius: 10px;
              }
            &::-webkit-scrollbar-thumb {
                background: teal;
                border-radius: 10px;
              }
            &::-webkit-scrollbar-thumb:hover {
                background: teal;
              }
        }


        // inner style start 
        .wcs_tickets{
            display: flex;
            flex: 1; 
            padding: 10px;
            .wcs_title_class{
                display: flex;
                align-items: center;
                position: relative;

                .title_icon{
                    font-size: 25px;
                    margin-left: 6px;
                    color: #92b588;
                }
              
                .sp_title{
                    margin-left: 19px;
                    font-weight: bold;
                    color: #888;
                    margin-left: 10px;
                    font-size: 18px;
                }
                span{
                    font-size: 14px;
                    color: #888;
                    margin-left: 10px;
                 
                }
                .title_icon_email{
                    font-size: 25px;
                    font-weight: bold;
                    color: #92b588;
                    margin-left: 6px;
                }
                .Icon_description_user{
                    font-size: 25px;
                    margin-left: 3px;
                    color: #92b588;
                    left: 4px;
                    top: 0px;
                    position: absolute;  
                }

                .Icon_description_user_res{
                    position: absolute;
                    right: -35px;
                    font-size: 35px;
                    color: #92b588;  
                }
                .wcs_description {
                    margin-left: 48px;
                    
                    // .wcs_descriptions p {
                    //     line-height: 0.9 !important;
                    // }
                }

                .wcs_editor_button{
                    margin-left: 35px;
                
                    .wcs_ticket_submit{
                        width: 160px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        float: left;
                    }
                }
            }
            .wcs_title_info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // height: 30px;
                height: 60px;
                .user_title{
                    border: 7px dotted #cdebc4;
                    background-color: #cdebc4;
                    width: 28px;
                    height: 33px;
                    font-size: 23px;
                    border-radius: 7px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.3);
                    margin-left: 2px;
                    margin-top: 11px;
                    align-items: center;
                    display: flex;

                }
                .wcs_user_title_info{
                    font-size: 25px;
                    font-weight: bold;
                    color: #92b588;
                    margin-left: 6px;
                }
                span{
                    position: relative;
                    top: -30px;
                    left: 23px;
                    font-size: 14px;
                    color: #888;
                    margin-left: 10px; 
                    padding-left: 13px;
                }
            }

        }
        // response des style 

        // inner style END 
    }

    .wcs_ticket_widgets{
        // widgets style 
        flex: 1;
        padding: 10px;
        // box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
        position: sticky;
        // top: -2rem;
        // align-self: center;
        top: 20px;
        right: 0px;
        // align-self: auto;
        align-self: start;

        
    }

   
}